.own-margin{

	/*-----------------------------------*\
	* -MARGIN-
	\*-----------------------------------*/

	.mlp-20{
		margin-left:20%;
	}

	.mrp-20{
		margin-right:20%;
	}

	.mlrp-10{
		margin-left:10%;
		margin-right:10%;
	}

	.mlrp-15{
	    margin-left:15%;
	    margin-right:15%;
	}

	.mlrp-8{
		margin-left:8%;
		margin-right:8%;
	}

	.mt-m50{
		margin-top:-50px;
	}

	.mt-m20{
		margin-top:-20px;
	}

	.mt-m10{
		margin-top:-10px;
	}

	.mt-10{
		margin-top:10px;
	}

	.mt-20{
		margin-top:20px;
	}

	.mt-30{
		margin-top:30px;
	}

	.mt-40{
		margin-top:40px;
	}

	.mt-50{
		margin-top:50px;
	}

	.mb-10{
		margin-bottom:10px;
	}

	.mb-20{
		margin-bottom:20px;
	}

	.mb-30{
		margin-bottom:30px;
	}

	.mb-40{
		margin-bottom:40px;
	}

	.mb-50{
		margin-bottom:50px;
	}

	.mb-75{
		margin-bottom:75px;
	}

	.mlr-5{
	    margin-left:5px;
	    margin-right:5px;
	}

	.mlr-10{
	    margin-left:10px;
	    margin-right:10px;
	}

	.mlr-20{
	    margin-left:20px;
	    margin-right:20px;
	}

	.mlr-30{
	    margin-left:30px;
	    margin-right:30px;
	}

	.mlr-40{
	    margin-left:40px;
	    margin-right:40px;
	}

	.mlr-50{
	    margin-left:50px;
	    margin-right:50px;
	}

	.m-20{
	    margin:20px;
	}

	.mr-5{
	    margin-right:5px
	}

	.mr-10{
	    margin-right:10px;
	}

	.mr-20{
	    margin-right:20px;
	}

	.mr-30{
	    margin-right:30px;
	}

	.mr-40{
	    margin-right:40px;
	}

	.mr-50{
	    margin-right:50px;
	}

	.ml-10{
	    margin-left:10px;
	}

	.ml-20{
	    margin-left:20px;
	}

	.ml-30{
	    margin-left:30px;
	}

	.ml-40{
	    margin-left:40px;
	}

	.ml-50{
	    margin-left:50px;
	}





	/*-----------------------------------*\
	* -PADDING-
	\*-----------------------------------*/

	.pt-m20{
		padding-top:-20px;	
	}

	.pt-m10{
		padding-top:-10px;	
	}

	.pt-m5{
		padding-top:-5px;	
	}

	.pt-10{
		padding-top:10px;	
	}

	.pt-20{
		padding-top:20px;	
	}

	.pt-30{
		padding-top:30px;	
	}

	.pt-40{
		padding-top:40px;	
	}

	.pt-50{
		padding-top:50px;	
	}

	.pt-75{
		padding-top:75px;	
	}

	.pt-100{
		padding-top:100px;	
	}

	.pb-10{
		padding-bottom:10px;	
	}

	.pb-20{
		padding-bottom:20px;	
	}

	.pb-30{
		padding-bottom:30px;	
	}

	.pb-40{
		padding-bottom:40px;	
	}

	.pb-50{
		padding-bottom:50px;	
	}

	.pb-75{
		padding-bottom:75px;	
	}

	.pb-100{
		padding-bottom:100px;	
	}

	.pl-5{
		padding-left:5px;
	}

	.pl-10{
		padding-left:10px;
	}

	.pl-20{
		padding-left:20px;
	}

	.pl-30{
		padding-left:30px;
	}

	.pl-40{
		padding-left:40px;
	}

	.pl-50{
		padding-left:50px;
	}

	.pl-75{
		padding-left:50px;
	}

	.pr-5{
		padding-right:5px;
	}

	.pr-20{
		padding-right:20px;
	}

	.pr-30{
		padding-right:30px;
	}

	.pr-40{
		padding-right:40px;
	}

	.pr-50{
		padding-right:50px;
	}

	.pr-75{
		padding-right:75px;
	}

	.plr-5{
	    padding-left:5px;
	    padding-right:5xpx;
	}

	.plr-10{
	    padding-left:10px;
	    padding-right:10xpx;
	}

	.plr-15{
	    padding-left:15px;
	    padding-right:15xpx;
	}
}